 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 @font-face {
     font-family: 'idroid';
     src: url('fontes/idroid.otf'), format('opentype');
     font-style: normal;
     font-weight: normal;
 }


 html,
 body {
     margin: 0;
     padding: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #acedc9;
 }

 .cabecalho {
     background: linear-gradient(to top, #072816d6, #39CB79);
     width: auto;
     padding: 20px;

 }

 .titulo {
     text-align: center;
     color: white;
     font-family: "Bebas Neue", sans-serif;
     font-weight: lighter;
 }

 .subtitulo {
    font-family: "Work Sans", sans-serif;
     text-align: justify;
     text-align: center;
     color: rgba(255, 255, 255, 0.768);
     font-weight: 550;
     text-align: center;
     font-size: 0.75em;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
     color: rgba(255, 255, 255, 0.881);
 }

 a:hover {
     color: rgba(194, 192, 192, 0.645);
 }


 .menu {
    font-family: "Work Sans", sans-serif;
     font-weight: bold;
     text-align: left;
     font-size: 0.75em;
     margin-top: 40px;
     margin-bottom: -10px;
     margin-left: -50px;
     word-spacing: 15px;
    
 }

.palavra {
    color: #1A5C38;
}

 li {
     display: inline;
     word-spacing: normal;
 }

 main {
     margin: auto;
     background-color: white;
     width: 80%;
     padding-top: 1px;
     min-width: 400px;
     max-width: 800px;
     
 }

 .historia {
     margin-right: 20px;
     display: flex;
     margin-left: 20px;
     font-family: 'idroid', sans-serif;
     text-align: center;
     color: #256341;
 }

 .primeira {
     display: flex;
     margin-left: 20px;
     padding-left: 10px;
     font-family: 'idroid', sans-serif;
     text-align: center;
     color: #256341;
     background-color: #D9F2E5;
 }

 .paragrafo {
     text-align: justify;
     margin: 20px;
     text-indent: 20px;
     font-size: 1.10em;
     font-family: "Work Sans", sans-serif;
     font-style: normal;
     font-weight: 500;
 }

 span > a {
    color: #1A5C38;
 }

 span > a:hover {
    color: #052514;
    text-decoration: underline;
    
 }

 .imgdroid {
    display: flex;
    margin: auto;
    width: 95%;
    height: 250px;
 }

 .imagemirina {
    display: flex;
    margin: auto;
    width: 95%;
    height: 250px;
 }

 .bugdroid {
    display: flex;
    margin: auto;
 }